<a ng-if="!line.display && (line.nextHours == null || line.nextHours.length == 0)" class="next-hour-box single" href="#"> 
  <div class="inner-hour center"> - </div> 
</a>

<a ng-if="!line.display && (line.nextHours != null && line.nextHours.length > 0)" class="next-hour-box single" href="#" ng-click="expandHour(line)"> 
  <div class="inner-hour center">
    <div style=" line-height: 12px; font-size: 10px; font-weight:normal;"> {{ line.nextHours[0].label }} </div>
    <div style=" line-height: 20px;"> {{ line.nextHours[0].hour }} </div>
  </div> 
</a>

<a ng-class="{hidden: !line.display}" class="next-hour-box multiple-hours" href="#" ng-click="expandHour(line)">

  <ion-scroll delegate-handle="nexthours-scroll-{{line.id}}" ng-init="scrollScroll(line)" direction="x" scrollbar-x="false" style="width: 100%; height: 40px; top: -5px;">

    <div style="display: -webkit-inline-flex; height: 40px;"> 

      <div class="inner-hour center inner-hour-list previous-hour" ng-repeat="hour in line.previousHours"> 
        <div style=" line-height: 12px; font-size: 10px; font-weight:normal;"> {{ hour.label }} </div>
        <div style=" line-height: 20px;"> {{ hour.hour }} </div>
      </div>

      <div class="inner-hour center inner-hour-list" ng-repeat="hour in line.nextHours"> 
        <div style=" line-height: 12px; font-size: 10px; font-weight:normal;"> {{ hour.label }} </div>
        <div style=" line-height: 20px;"> {{ hour.hour }} </div>
      </div>

    </div>
  </ion-scroll>

</a>

<div ng-class="{hidden: line.display}"> 
  <span class="line-name"> 
    <ion-scroll direction="x" delegate-handle="linename-scroll-{{line.id}}" scrollbar-x="false" style="width: 100%" on-release="resetScroll('linename-scroll-{{line.id}}')">
      <div> {{ line.number }} - {{ line.name }} </div>
    </ion-scroll>
  </span>
  <span class="line-extra-info"> 
    Saindo de {{ line.starting_at }}  
    </span>
</div>

<a href="#" ng-click="addFavorite(line)" ng-if="!line.display && !line.isFavorite"> <i class="icon ion-ios-star-outline favorite"> </i> </a>

<a href="#" ng-click="removeFavorite(line)" ng-if="!line.display && line.isFavorite"> <i class="icon ion-ios-star favorite"> </i> </a>