<ion-modal-view>
  <ion-header-bar class="bar-stable" align-title="center">
    <h1 class="title">Horários de hoje</h1>

  </ion-header-bar>
  <ion-content>
    <div class="list">

      <label class="item item-radio" ng-click="setDayKind(1)">
        <input type="radio" name="dayKind" ng-model="dayKind" ng-value="1">
        <div class="item-content">
          Dias úteis
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio" ng-click="setDayKind(2)">
        <input type="radio" name="dayKind" ng-model="dayKind" ng-value="2">
        <div class="item-content">
          Sábados
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio" ng-click="setDayKind(3)">
        <input type="radio" name="dayKind" ng-model="dayKind" ng-value="3">
        <div class="item-content">
          Domingos
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <div class="padding">
        <button class="button button-block button-positive activated"  ng-click="closeSelectDay()">OK</button>
      </div>

    </div>
  </ion-content>
</ion-modal-view>
