/* Empty. Add your own CSS if you like */

.clear-bottom-list {
  margin-bottom: 0;
  padding-bottom: 0;
}

.center {
  text-align: center;
}

.item-next-hour {
  padding-left: 65px;
}

.next-hour-box {
  position: absolute;
  height: 100%;
  text-decoration: none;
  left:0;
  top:0;
}

.previous-hour {
  color:#a9bfd6 !important;
}

.single {
  width: 65px;
}

.multiple-hours {
  width: 100%;
}

.inner-hour{
  float:left;
  font-weight: bold;
  color: #00578f;
  width: 65px;
  height: 30px;
}

.inner-hour-single{
  font-weight: bold;
  color: #00578f;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 65px;
}

.vertical-center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.hidden {
  visibility: hidden;
}

.item-next-hour div span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #29a9dd;
}

.item-next-hour div span.line-name {
  font-size: 16px;
  line-height: 18px;
  white-space: normal;
}

.item-next-hour div span.line-extra-info {
  font-size: 12px;
  line-height: 14px;
}

.item-icon-right .favorite {
  font-size: 20px;
  color: #29a9dd;
  padding-top:12px;
}

.button-custom:before{
  font-size: 26px !important;
}

.view-title {
  display: block;
  line-height: 15px;
  margin-top: 5px;
  font-weight: bold;
}

.view-subtitle {
  display: block;
  line-height: 20px;
  font-size: 13px;
}


.button-floribus {
  color: #29a9dd  !important;
  border-color: #29a9dd  !important;
}

.item-content-floribus {
  color: #00578f !important;
}

.intro-slide {
  margin: 20px;
}

.intro-slide-tip {

}

.clear-link {
  text-decoration: none;
}

.timetable-hour-divider {
  border-bottom: 1px solid black;
}

.timetable-hours {
  text-align: center;
}

.now {
  border-bottom: 1px solid red;
  margin-top: -35px;
  color: red;
}
/*Ionic overrided stuff*/

.scroll{
  height:100% !important
 }

 .slider{
  position: absolute;
  top: 0;
  bottom: 15px;
  left: 0;
  right: 0;
}

.slider-pager {
  top: initial;
  bottom: 0;
  height: 20px;
}
